{{!< default}}
{{#get "pages"}}

    <main id="gh-main" class="gh-main gh-outer">
        <div class="gh-inner">
            <div class="gh-wrapper">
                <section class="gh-section">
                    <h1 class="gh-section-title" style="font-size:2.4rem;text-transform:capitalize;font-weight:600;margin-bottom:4rem;margin-top:-0.6rem;">Documentation</h1>

                    <div class="gh-feed">
                        {{#foreach pages}}
                            {{> pageloop}}
                        {{/foreach}}
                    </div>

                    {{#match pages.length "=" 1}}
                        Check back soon for more content.
                    {{/match}}

                    <button class="gh-loadmore gh-btn">Load more pages</button>
                </section>

                <aside class="gh-sidebar">
                    <section class="gh-section">
                        <h2 class="gh-section-title">About</h2>

                        <div class="gh-about">
                            {{#if @site.icon}}
                                <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                            {{/if}}

                            <section class="gh-about-wrapper">
                                <h3 class="gh-about-title">{{@site.title}}</h3>

                                {{#if @site.description}}
                                    <p class="gh-about-description">{{@site.description}}</p>
                                {{/if}}
                            </section>
                        </div>

                        {{#if @site.members_enabled}}
                            {{^if @member.paid}}
                                <div class="gh-signup">
                                    {{^if @member}}
                                       <p class="gh-signup-description">Content on this site is restricted to authorized personel only. Contact Bomberger's web development to request access.</p>

                                        <a class="gh-subscribe-input" href="#/portal/signup" data-portal="signup">
                                            <div class="gh-subscribe-input-text">
                                                {{> icons/email}}
                                                jsmith@bombergers.com
                                            </div>
                                            <div class="gh-subscribe-input-btn">Sign In</div>
                                        </a>
                                    {{else}}
                                        {{#if @setting.paid_members_enabled}}
                                            <p class="gh-signup-description">Upgrade to a paid account to get full access.</p>
                                            <a class="gh-signup-btn gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Upgrade now</a>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </section>
                </aside>
            </div>
        </div>
    </main>
{{/get}}